html,
body {
  margin: 0;
  padding: 0;
}
ul {
  width: 550px;
  height: 400px;
  margin-top: 30px;
}
ul li {
  display: block;
  float: left;
  height: 145px;
  margin: 5px 30px;
  overflow: hidden;
  text-align: center;
  list-style: none;
  background-color: #ffa;
}
ul li i {
  position: relative;
  top: 0;
  opacity: 1;
  filter: opacity(100%);
  transition: top 300ms ease-out, opacity 300ms ease-out;
}
ul li img {
  width: 100px;
  height: 100px;
}
ul li a {
  text-decoration: none;
}
ul li a p {
  color: #0d1112;
  font-size: 1rem;
  opacity: 0.5;
}
ul li:hover p {
  opacity: 1;
}
ul li:hover i {
  top: -90px;
  opacity: 0;
}
#ddr {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  background-color: #00aeff;
  opacity: 0.3;
  transition: width 0.5s ease-out, height 0.5s ease-out, opacity 0.5s ease-out, transform 0.5s ease-in-out;
}
#ddr:hover {
  width: 200px;
  height: 200px;
  transform: rotate(-180deg) scale(2, 2);
  opacity: 1;
}
#ddr4 {
  width: 100px;
  height: 100px;

  /* position: relative; */
  margin: 0 auto;
  background-color: #f50;
  opacity: 0.5;
  animation: loading 3s infinite ease-in-out;
}
@keyframes loading {
  0% {
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  40% {
    top: -500px;
    left: 0;
    transform: rotate(360deg) scale(2, 2);
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}
