*{
    margin: 0;
    padding: 0;
}
#picHolder{
    position: absolute;
    top: 17%;
    left: 50%;
    width: 270px;
    height: 129px;
    margin-left:-135px;
    background-image: url("../../../Library_image/tangyuan.png");
    background-repeat: no-repeat;
    background-position-x: 0;
    cursor: pointer; 
}