@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
p {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}
div {
	width: 200px;
	height: 100px;
	margin-left: 20px;
}
#d2 {
	position: relative;
}
#out {
	position: relative;
	width: 160px;
	height: 10px;
	margin-top: 10px;
	margin-left: 0px;
	border: 1px solid #28C561;
	border-radius: 10px;
}
#filling {
	height: 100%;
	margin-left: 0px;
	width: 0px;
	background-color: #DB191C;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#innerimg {
	position: absolute;
    left: 0px;
    top: -8px;
    margin-left: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: #66F40E;
    border-radius: 50%;
    box-shadow: 0px 2px 1px 1px #0d11128a;
}
#txt{
	font-size:5px;
}

input[type=range] {
	outline: none;
	-webkit-appearance: none;
	border-radius: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
 height: 15px;
 border-radius: 10px; /*将轨道设为圆角的*/
 box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]::-webkit-slider-thumb {
 -webkit-appearance: none;
 height: 25px;
 width: 25px;
 margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
 background:#7B05E0;
 border-radius: 50%; /*外观设置为圆形*/
 border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
 box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
