* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  line-height: 1.7;
}
li {
  list-style: none;
}
#content {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}
#content h1 {
  color: #08b;
}
#content .item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px dotted #08b;
}
#content .item h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #08b;
  font-weight: bold;
  font-size: 16px;
}
#content .item li {
  display: inline;
  margin-right: 10px;
}
#content .item li a img {
  width: 230px;
  height: 230px;
  border: none;
}
#menu {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 50px;
  margin-left: 400px;
}
#menu ul li a {
  display: block;
  width: 80px;
  height: 50px;
  margin: 5px 0;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
#menu ul li a:hover,
#menu ul li a.current {
  color: #fff;
  background-color: aqua;
}

/* ie6 hack */
* html,
* html body {
  background-image: url(about:blank);
  background-attachment: fixed;
}

/* expression是旧版本IE支持的，IE8已经完全废弃了 */
* html menu {
  position: absolute;
  top: expression(((e=document.documentElement.scrollTop) ? e:document.body.scrollTop) + 100 +"px");
}
