div {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  border-radius: 50%;
  transform: rotate(360deg);
  animation: rotate 5s infinite linear;
}
div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #000;
  border-radius: 50%;
  transform: rotate(720deg);
  animation: rotate 3s infinite ease-out;
  content: '';
}
div::after {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  box-sizing: border-box;
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
  border-radius: 50%;
  transform: rotate(720deg);
  animation: rotate 3s infinite ease-in-out;
  content: '';
}
@keyframes rotate {
  100% {
    transform: rotate(0deg);
  }
}
