@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
ul {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 30px;
  list-style: none;
}
li {
  float: left;
  width: 33.3%;
}
a {
  display: block;
  margin: 1px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ccc;
}
#a1 {
  text-align: left;
}
#a3 {
  text-align: right;
}
a:hover {
  color: #fff;
  background-color: #fc0;
}
