html,
body {
  margin: 0;
  padding: 0;
}
div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 1%;
  border: 3px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
