html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}
#app {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  background-color: #000;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picker-wrapper {
  position: relative;
  /* width: 200px;
  height: 200px; */
  transform-style: preserve-3d;
  perspective-origin: 150% 150%;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  /* background-color: aqua; */
  /* transform: rotateY(78deg); */
}
.item {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 251, 3);
  backface-visibility: hidden;
  text-align: center;
}
.item::before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.item-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 251, 3);
}
.btn {
  width: 50px;
  height: 30px;
  background-color: antiquewhite;
  border: 2px solid rgb(224, 240, 240);
}