@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
#circle {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: red;
}
#huan {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  -webkit-boder-radius: 25px;
}
#triangle-up {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
}
#triangle-down {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}
#triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}
#talkbubble {
  position: relative;
  width: 120px;
  height: 80px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: red;
}
#talkbubble_before {
  position: absolute;
  top: 26px;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
  content: "";
}
