* {
  margin: 0;
  height: 0;
}
.wrapper {
  margin: 100px 100px 0;
  padding: 10px;
  width: 600px;
  height: 400px;
  border: 5px solid black;
  overflow: auto;
  background: antiquewhite;
  /* box-sizing: border-box; */
}
.content {
  margin: 10px;
  padding: 10px;
  width: 800px;
  height: 600px;
  border: 5px solid black;
  background: aquamarine;
  /* box-sizing: border-box; */
}
.wrapper-1 {
  margin: 0 auto auto 100px;
  padding: 10px;
  width: 600px;
  height: 400px;
  border: 5px solid black;
  overflow: auto;
  /* box-sizing: border-box; */
}