* {
  height: 0;
  margin: 0;
}

/* ::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: #F5F5F5;
} */
.wrapper {
  width: 600px;
  height: 400px;
  margin: 100px 100px 0;
  padding: 10px;
  border: 5px solid black;
  overflow: auto;
  background: antiquewhite;

  /* box-sizing: border-box; */
}
.content {
  width: 400px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  background: aquamarine;

  /* box-sizing: border-box; */
}
