* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Medium.ttf');
}
@font-face {
  font-family: Gotham;
  src: url('../font/GothamPro-Medium.woff.ttf');
}
#root {
  width: 100%;
  height: 100%;
  font-family: Roboto, Gotham, sans-serif;
}
