@font-face {
  font-family: 'Roboto';
  src: url('../../font/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Gotham';
  src: url('../../font/GothamPro-Medium.woff.ttf');
}
@font-face {
  font-family: 'iconfont';  /* project id 683476 */
  src: url('//at.alicdn.com/t/font_683476_81e2viug4wnj0pb9.eot');
  src:
    url('//at.alicdn.com/t/font_683476_81e2viug4wnj0pb9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_683476_81e2viug4wnj0pb9.woff') format('woff'),
    url('//at.alicdn.com/t/font_683476_81e2viug4wnj0pb9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_683476_81e2viug4wnj0pb9.svg#iconfont') format('svg');
}
.menuHome {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 29%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 1px 0 #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menuHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 62px;
  padding: 6% 2% 1% 6%;
  font-weight: bold;
  font-family: 'Roboto', 'Gotham', sans-serif;
  cursor: pointer;
}
.icon-logo {
  width: 76%;
}
.moremenu {
  flex-basis: 23%;
}
.menuHead .icon-menu {
  flex-basis: 13%;
  font-weight: normal;
  font-size: 24px;
  cursor: pointer;
}
.menuMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 93%;
}
.menuMainTxt {
  padding-right: 13%;
  padding-left: 20%;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Roboto', 'Gotham', sans-serif;
}
.menuMainTxt .coffee {
  font-size: 28px;
}
.loginbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 223px;
  margin-top: 10px;
}
.loginBtn {
  float: right;
  padding-right: 36px;
  padding-left: 5px;
  color: #00a862;
  line-height: 32px;
  cursor: pointer;
}
.regedit {
  width: 53px;
  height: 30px;
  border: 1px solid #00a862;
  border-radius: 18px;
  color: #00a862;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.menuMore {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  height: 93%;
  -webkit-transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in; /* Safari 和 Chrome */
  -moz-transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in;
  -o-transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in;
  transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in;
}
.listul {
  float: right;

  /* 列表 */
  width: 77%;
  height: 70%;
  padding-top: 39%;
  list-style: none;
}
.listul > li {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.listul hr {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.3;
}
.listul sup {
  font-size: 5px;
}
.footbar {
  float: right;
  width: 77%;
  font-family: Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.footbar > ul {
  list-style: none;
}
.footbar li {
  height: 22px;
  color: #ccc;
  font-weight: 100;
  font-size: 14px;
}
.footbar a {
  cursor: pointer;
}
.icpcicon {
  width: 10px;
}
.hidden {
  transform: scale(1.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in; /* Safari 和 Chrome */
  -moz-transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in;
  -o-transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in;
  transition: transform 100ms ease-in, opacity 100ms ease-in, visibility 100ms ease-in;
}
.hide {
  visibility: hidden;
}
