.detailHome {
  position: relative;
  float: right;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  background-color: #fff;
}
.blank {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 125px;
  margin: auto;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
