#border {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0ad5c1;
  cursor: pointer;
}
#border::before {
  position: absolute;
  top: 0;
  right: 0;
  border-color: #f50 rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 0;
  border-radius: 0 0 0 4px;
  transition: all 0.5s ease;
  content: '';
}
#border:hover::before {
  border-top-width: 30px;
  border-left-width: 30px;
}
.nextPage#border::before {
  border-top-width: 400px;
  border-left-width: 400px;
}
.nextPage {
  visibility: hidden;
}
#close {
  width: 200px;
  height: 200px;
  margin: -200px auto;
  line-height: 170px;
  text-align: center;
  background-color: #f50;
  cursor: pointer;
}
#visible {
  font-size: 15rem;
}
