* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
.glass {
  width: 100%;
  height: 100%;
  background: url(../../../assets/images/ironman.jpg) no-repeat 100% 100%;
}
.content {
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
}
.ob {
  position: absolute;
  top: 0pxs;
  left: 0px;
  width: 300px;
  height: 300px;
  border: 10px solid #fff;
  color: #fff;
  font-size: 100px;
  user-select: none;
}
/* .ob:active {
  background: #000;
  border: 10px solid #fff;
} */