@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
  font: 12px normal;
  font-family: 微软雅黑;
}
#tabs ul {
  display: block;
  height: 30px;
  line-height: 30px;
  list-style: none;
}
#tabs {
  width: 290px;
  height: 150px;
  margin: 20px;
  padding: 5px;
  list-style: none;
}
#tabs ul li {
  display: inline-block;
  float: left;
  width: 60px;
  height: 28px;
  border: 1px solid #aaa;
  border-bottom: none;
  line-height: 28px;
  text-align: center;
  list-style: none;
  background: #fff;
  cursor: pointer;
}
#tabs ul li.on {
  border-top: 2px solid saddlebrown;
  border-bottom: 2px solid #fff;
}
#tabs div {
  height: 120px;
  padding: 5px;
  border: 1px solid #369;
  border-top: 2px saddlebrown solid;
  line-height: 25px;
}
.hide {
  display: none;
}
