html, body {
  margin: 0;
  padding: 0;
  user-select: none;
}
#app {
  perspective: 1200px;
}
.container {
  margin: 200px auto;
  width: 200px;
  height: 200px;
}
.picker-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  list-style: none;
  transform-style: preserve-3d;
  perspective-origin: 150% 150%;
  /* background-color: aqua; */
  /* transform: rotateY(78deg); */
}
.item {
  position: absolute;
  display: block;
  width: 200px;
  height: 150px;
  background-color: rgb(150, 218, 25);
  border: 2px solid #000;
}