html, body {
  margin: 0;
  padding: 0;
  user-select: none;
}
#app {
  perspective: 1200px;
}
.container {
  margin: 200px auto;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  perspective-origin: 150% 150%;
}
.face {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-size: 60px;
}
.face_front {
  background-color: rgb(240, 214, 97);
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
}
.face_end {
  background-color: rgb(142, 240, 97);
  transform: translateZ(-100px);
  -webkit-transform: translateZ(-100px);
  -moz-transform: translateZ(-100px);
  -ms-transform: translateZ(-100px);
  -o-transform: translateZ(-100px);
}
.face_top {
  background-color: rgb(147, 97, 240);
  transform: rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
}
.face_bottom {
  background-color: rgb(240, 97, 121);
  transform: rotateX(90deg) translateZ(-100px);
  -webkit-transform: rotateX(90deg) translateZ(-100px);
  -moz-transform: rotateX(90deg) translateZ(-100px);
  -ms-transform: rotateX(90deg) translateZ(-100px);
  -o-transform: rotateX(90deg) translateZ(-100px);
}