html, body {
  margin: 0;
  padding: 0;
  user-select: none;
}
#app {
  perspective: 1200px;
}
.container {
  margin: 200px auto;
  width: 200px;
  height: 200px;
}
.picker-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  perspective-origin: 150% 150%;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  /* background-color: aqua; */
  /* transform: rotateY(78deg); */
}
.item {
  position: absolute;
  display: block;
  width: 200px;
  height: 150px;
  background-color: rgb(150, 218, 25);
  border: 2px solid #000;
  backface-visibility: hidden;
}
.item-text {
  text-align: center;
  line-height: 100px;
}