* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
}
.btn {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid #000;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #c0c0c0;
}
ul {
  /* 自适应的max-height应该加在滚动容器元素上 */
  max-height: 80vh;
  overflow-y: scroll;
}
li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  box-shadow: inset 0 -0.5px 0 0 #e5e5e5;
}
.bottomBtn {
  width: 100%;
  height: 20vh;
  background-color: aliceblue;
}
