html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #15805c; */
}
.svg-holder {
  /* background-color: #15805c; */
}
.svg-path {
  fill: rgba(255, 255, 255, 0.5);
}
.circle {
  stroke: #fff;
}