* {
  margin: 0;
  padding: 0;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#9ed110, #50b517, #179067, #476eaf, #9f49ac, #cc42a2, #ff3ba7, #ff5800, #ff8100, #feac00, #fc0, #ede604);
  box-shadow: 0 0 7px 0 inset;
  transform: scale(1.1);
  filter: blur(8px);
  -webkit-mask: radial-gradient(black 30px, #0000 90px);
}
.preLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 3px 0 inset;
  transform: rotate(0deg);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
.preRight {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.right {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 3px 0 inset;
  transform: rotate(0deg);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.mask {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;

  /* box-shadow: 0 0 5px 0px; */
  background: #fff;
}
