.root {
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #fff 50%, #000 50%);
}
.root::after {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: '';
}
.text {
  color: #fff;
  font-size: 100px;

  /* 反相 */
  mix-blend-mode: difference;
}
.image {
  width: 100%;
  height: 500px;
  text-align: center;
  background-image: url('../../../assets/images/ironman.jpg');
}
.imageText {
  width: 100%;
  height: 100%;
  background-color: #fff;
  mix-blend-mode: lighten;
}
.imageText::after {
  font-weight: bold;
  font-size: 200px;
  content: 'IRON MAN';
}
